<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237125313432-u5600gn5r4tehne6pu0upnoqblht7q06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237125313432-u5600gn5r4tehne6pu0upnoqblht7q06</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>237125313432-13nlppddgds8mh23p23dus5sc73nm80t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPCPq7N_JUkMzBA24BwpvJSFHZxtajhi4</string>
	<key>GCM_SENDER_ID</key>
	<string>237125313432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forall.forallhr</string>
	<key>PROJECT_ID</key>
	<string>forall2030-ebb36</string>
	<key>STORAGE_BUCKET</key>
	<string>forall2030-ebb36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237125313432:ios:d8cdfa4a1c3ebe93c641ed</string>
	<key>DATABASE_URL</key>
	<string>https://forall2030-ebb36-default-rtdb.firebaseio.com</string>
</dict>
</plist>